language: node_js
sudo: required
dist: trusty

node_js:
  - "6"
  - "8"
  - "12"

# https://yarnpkg.com/en/docs/install-ci#travis-tab
sudo: required
before_install: # if "install" is overridden
  # Repo for Yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
cache:
  yarn: true

install:
- |
    yarn install
